.container
  #about.about
    %h2.base-txt-color.title.is-4.has-text-centered #{I18n.t("base.index.aboutTitle").upcase}
    .columns
      .column
        %img{src: image_path("cover.jpg")}
      .column
        %p #{I18n.t("base.index.aboutText").html_safe}
