* {
    cursor: none !important;
}

html {
    cursor: none !important;
}

body {
    cursor: none !important;
}

a:hover {
    cursor: none !important;
}

.navbar {
    padding: 20px 0 !important;
}

h1 {
    margin: 0 !important;
}

.curtain-menu {
    background-color: rgba(237, 67, 74, .5);
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.active-menu{
    animation-duration: 2s;
    animation-name: openMenu;
}

@keyframes openMenu {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

.desactive-menu{
    animation-duration: 2s;
    animation-name: openMenu;
}

@keyframes closeMenu {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

.content-columns {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100%;
}

.content-links-menu {
    padding-bottom: 20px !important;
}

.option-menu-selected{
    position: relative;
}

.option-menu-selected:after{
    content: url(../images/selected.svg);
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    max-width: 250px;
    width: 120%;
}

.unselected {
    color: rgba(255,255,255, 0.5) !important;
}

.unselected:hover {
    color: white;
}

#follower {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

#follower #circle1 {
    position: absolute;
    -webkit-animation: pulse .8s; /* Chrome, Safari, Opera */
    animation: pulse 1s;
    background: #EC3835;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin-top: 0em;
    margin-left: 0em;
}

@-moz-keyframes pulse {
    0% {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@-webkit-keyframes pulse {
    0% {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@-o-keyframes pulse {
    0% {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@keyframes pulse {
    0% {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }
}


#follower #circle1Over {
    position: absolute;
    -webkit-animation: circleOver 1s; /* Chrome, Safari, Opera */
    animation: circleOver .5s;
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
    height: 2em;
    width: 2em;
}

@-moz-keyframes circleOver {
    from {
        background: #EC3835;
        height: 1em;
        width: 1em;
    }

    to {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@-webkit-keyframes circleOver {
    from {
        background: #EC3835;
        height: 1em;
        width: 1em;
    }

    to {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@-o-keyframes circleOver {
    from {
        background: #EC3835;
        height: 1em;
        width: 1em;
    }

    to {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }

}

@keyframes circleOver {
    from {
        background: #fff;
        height: 1em;
        width: 1em;
    }

    to {
        border: 4px solid white;
        background-color: transparent;
        height: 2em;
        width: 2em;
    }
}