*{
    box-sizing: border-box;
}

#header:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(-180deg, rgba(231,69,70,0.40) 0%, #EC3835 93%);
    mix-blend-mode: multiply;
}

#header:before{
    content: url('../../images/ondas-header.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: -9px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 6;
}

#header{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.header-titles{
    margin-left: 50px;
}

.header-title{
    font-size: 70px!important;
}

video{
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.is-transparent{
    background-color: transparent !important;
}

.navbar-brand{
    margin-left: 60px;
}

.margin-menu-end{
    margin-right: 60px !important;
}